#head {
	background-color: blue;
	color: white;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 15px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label {
	font-size: 20px;
}

#show {
    margin: 5px;
    padding: 5px;
    width: 250px;
    border-radius: 12px;
}

#giphySearch {
    padding: 5px;
    margin: auto;
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#gifDisplay {
	clear: both;
	display: inline;
	flex-wrap: wrap;
}

.displayGiphy {
	padding: 2px;
	width: 80%;
}